{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container text-center">

<!--    <h2 class="mb-4 text-white">Categories</h2>-->

    <div class="row" style="margin: 10px;">
        <div class="col-md-3 " style="margin: 3px;">
            <div class="list-group" id="right1">

                <a href="/supermarket" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <span class="link-name">Supermarket</span>
                </a>

                <a href="/home-office" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-house"></i>
                    <span class="link-name">Home & Office</span>
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <span class="link-name">Health & Beuty</span>
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <span class="link-name">Fashion</span>
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-audio-description" aria-hidden="true"></i>
                    <span class="link-name">Electronics</span>
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-cubes" aria-hidden="true"></i>
                    <span class="link-name">Gaming</span>
                </a>
                    <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-child" aria-hidden="true"></i>
                    <span class="link-name">Baby Products</span>
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                    <span class="link-name">Sporting Goods</span>
                </a>
                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa fa-binoculars" aria-hidden="true"></i>
                    <span class="link-name">Garden & Outdoor</span>
                </a>

            </div>
        </div>
        <!-- Phone Image -->
        <div class="col-md-6">
            <img src="/static/images/mobile_view.webp"
                 style="width: 600px; height: 365px; border-radius: 10px;">
        </div>

        <!-- Shoes Image -->
        <div class="col-md-2">
            <img src="/static/images/shoe.webp"
                 style="width: 300px; height: 365px; border-radius: 10px;">
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row" style="margin: 8px;">
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="/static/images/techweekimage.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Tech Week</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="/static/images/freedelivery_image.png" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Free Delivery</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="/static/images/offer_image.jpeg" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Offers</h6>
        </div>
        <div class="col" style="display: flex; background-color: white; border-radius: 10px; padding: 7px; margin: 5px;">
            <img src="/static/images/claim_image.jpeg" alt="" style="width: 30px; height: 30px;">
            <h6 style="margin: 4px">Claims</h6>
        </div>
 
    </div>
</div>




<div class="container mt-4">
    <div class="row g-4">

        {% for item in items %}
        <div class="col-lg-3 col-md-4 col-sm-6">

            <div class="card h-100 shadow-sm border-0">

                <div style="height:250px; padding:10px;">
                    <img src="{{ item.product_picture }}"
                         alt="{{ item.product_name }}"
                         style="width:100%;
                                height:100%;
                                object-fit:contain;
                                border-radius:10px;">
                </div>

                <div class="card-body text-center">

                    <h6 class="fw-bold" style="color:black; font-size:18px; font-weight:bold;">
                        {{ item.product_name }}
                    </h6>

                    <h5 class="fw-bold">
                        ₹{{ item.current_price }}
                    </h5>

                    <p class="text-muted mb-2">
                        <del>₹{{ item.previous_price }}</del>
                    </p>

                    <p class="small">
                        {{ item.in_stock }} Items Left
                    </p>

                    <a href="/add_to_cart/{{ item.id }}"
                       class="btn btn-primary w-100">
                        Add to Cart
                    </a>

                </div>

            </div>

        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}

